{% extends 'based.html' %}

{% block content %}
{% load static %}

<div class="container-fluid">
   <div class="row column_title">
      <div class="col-md-12">
         <div class="page_title">
            <h2>Media Gallery</h2>
         </div>
      </div>
   </div>
   <!-- row -->
   <div class="row column4 graph">
      <!-- Gallery section -->
      <div class="col-md-12">
         <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
               <div class="heading1 margin_0">
                  <h2>Media Gallery Design Elements</h2>
               </div>
            </div>
            <div class="full gallery_section_inner padding_infor_info">
               <div class="row">
                  <div class="col-sm-4 col-md-3 margin_bottom_30">
                     <div class="column">
                        <a data-fancybox="gallery" href="{% static 'dashboard/images/layout_img/g1.jpg' %}"><img class="img-responsive" src="{% static 'dashboard/images/layout_img/g1.jpg' %}" alt="#" /></a>
                     </div>
                     <div class="heading_section">
                        <h4>Sed ut perspiciatis</h4>
                     </div>
                  </div>
                  <div class="col-sm-4 col-md-3 margin_bottom_30">
                     <div class="column">
                        <a data-fancybox="gallery" href="{% static 'dashboard/images/layout_img/g2.jpg' %}"><img class="img-responsive" src="{% static 'dashboard/images/layout_img/g2.jpg' %}" alt="#" /></a>
                     </div>
                     <div class="heading_section">
                        <h4>Sed ut perspiciatis</h4>
                     </div>
                  </div>
                  <div class="col-sm-4 col-md-3 margin_bottom_30">
                     <div class="column">
                        <a data-fancybox="gallery" href="{% static 'dashboard/images/layout_img/g3.jpg' %}"><img class="img-responsive" src="{% static 'dashboard/images/layout_img/g3.jpg' %}" alt="#" /></a>
                     </div>
                     <div class="heading_section">
                        <h4>Sed ut perspiciatis</h4>
                     </div>
                  </div>
                     <div class="column">
                        <a data-fancybox="gallery" href="images/layout_img/g16.jpg"><img class="img-responsive" src="images/layout_img/g16.jpg" alt="#" /></a>
                     </div>
                     <div class="heading_section">
                        <h4>Sed ut perspiciatis</h4>
                     </div>

               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- footer -->
</div>

{% endblock %}